.toast {
    position: fixed;
    z-index: 9999;
    padding: 0.90rem 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #E6E6E6;
    /*transition: all 0.3s ease;*/
}

.message {
    position: relative;
    display: flex;
    align-items: center;
    color: #E6E6E6;
}


/* Barra animada simulando el border-bottom */
.message::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #E6E6E6;
    animation: shrinkLine 3s linear forwards;
}

/* Animación que reduce el ancho de 100% a 0% */
@keyframes shrinkLine {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}


.success {
    background-color: #4B168C;
}

.error {
    background-color: #A01A20;
}

.info {
    background-color: #424242;
}

.warning {
    background-color: #825F08;
}


.icon {
    padding: 0px 8px 0px 0px;
    align-items: center;
}


.top {
    top: 1rem;
}

.topRight {
    top: 1rem;
    right: 1rem;
}

.bottomLeft {
    bottom: 1rem;
    left: 1rem;
}



.slideInTop {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}





.slideOutTop {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}