.bfa_container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    /*overflow: hidden;*/
  }
  
  .bfa_button {
    position: absolute;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.2s ease;
  }

  

  .bfa_button_img {
    width: 100%;
    object-fit: cover;
  }
  
  .bfa_button_text {
    position: absolute;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: #E6E6E680;
    transition: all 0.5s ease;
  }

  

  .bfa_button_text::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0.5px;
    background-color: #E6E6E6;
    transform: translateX(-50%);
    transition: width 0.6s ease;
  }

  

  .bfa_nebula_image {
    width: 100%;
    position: inherit;
    object-fit: cover;
    pointer-events: none;
    overflow: hidden;
    display: block;
  }

  @media (hover:hover) {
    .bfa_button:hover {
    transform: scale(1.025); /* 5% más grande */
  }
  .bfa_button:hover .bfa_button_text {
    transform: scale(1.2); /* 5% más grande */
    color: #E6E6E6;
  }
  .bfa_button:hover .bfa_button_text::after {
    width: 100%;
  }
  }