.profile_layout_container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3; /* Para que esté por encima de otros elementos */
  }
  
  .pl_button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: rgba(0,0,0,0);
    color: #E6E6E6;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .pl_button:hover {
    background-color: #e6e6e6;
    color: #424242;
  }
  
  .pl_dropdown_menu {
    display: grid;
    position: absolute;
    right: 0;
    margin-top: 5px;
    background-color: rgb(255, 255, 255, 0);
    color:#E6E6E6; 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 130px;
    overflow: hidden;
  }
  
  .pl_menu_item {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(0,0,0,0);
    color: #E6E6E6;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .pl_menu_item:hover {
    background-color: #e6e6e6;
    color: #424242;
  }