.formulario_actividades_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    z-index: 8;
}

.formulario_actividades_app_container{
    position: relative;
    width: 90%;
    background-color: #221726;
    min-height: 416px;
    max-height: 421px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px #ffffff00;
    margin: 0 10px 0 10px;
}

@media (min-width: 600px) {
  .formulario_actividades_app_container {
    min-width: 600px; 
    max-width: 600px; /* Opcional: para limitar su crecimiento en pantallas muy grandes */
    min-height: 421px;
    padding: 20px;
  }
}

@media (max-height: 520px) and (orientation : landscape) {
  .formulario_actividades_container {
      align-items: flex-start;
      height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; /* para suavizar en iOS */
  }
  .formulario_actividades_app_container {
      margin-top: 10px;
      margin-bottom: 10px;
  }
}










.fa_selected_date{
    padding-bottom: 0px;
    text-align: center;
    color: #E6E6E6;
    margin-bottom: 40px;
}

.fa_activity_option {
  margin-bottom: 30px;
  color: #E6E6E6;
}





  .fa_form_container {
    /*align-self: self-end;*/
  }  

  .fa_form_group {
    margin-bottom: 15px;
  }
  
  
  .fa_time_selectors {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .fa_time_select {
    padding: 8px;
    color: #E6E6E6;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .fa_description_input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: #3b2842;
    color: #E6E6E6;
    border-radius: 4px;
    border: 0px solid rgba(255, 255, 255, 0);
    resize: none;
  }

  .fa_description_input::placeholder {
    color: #e6e6e6af;
  }

  .fa_description_input:focus {
    outline: none;
  }
  
  .fa_submit_button {
    background-color: #a87f05;
    color: #E6E6E6;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.2s ease;
  }
  
  .fa_submit_button:hover {
    background-color: #a87f0580;
  }








  .fa_close_button_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .fa_close_button {
    width: 40px;
    height: 40px;
    background-color: #A01A20;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
  
  .fa_close_button:hover {
    background-color: #A01A2080;
  }
  
  .fa_close_button::before,
  .fa_close_button::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #E34C52;
  }
  
  .fa_close_button::before {
    transform: rotate(45deg);
  }
  
  .fa_close_button::after {
    transform: rotate(-45deg);
  }
  





